certifi==2018.1.18
chardet==3.0.4
Django>=1.11,<2.0
django-filter==1.1
djangorestframework==3.6.4
graphene_django==2.2.0
httpie==0.9.9
idna==2.6
psycopg2-binary
Pygments==2.2.0
pytest
pytest-django
pytz==2018.3
requests>=2.20
urllib3>=1.23

# Heroku database
dj-database-url
gunicorn
whitenoise
dj_static
